<div class="row mr-t">
  {{#each songs}}
  <div class="col-sm">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top"
        src={{this.pathimage}}
        alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{this.title}}</h5>
        <p class="card-text">{{this.album}} </p>
        <div class="audio-w">
          <audio width="100px" height="100px" controls>
            <source src={{this.pathmp3}} type="audio/ogg">
            <source src={{this.pathmp3}} type="audio/mpeg">
          </audio>
        </div>

      </div>
    </div>
  </div>
  {{/each}}

</div>




<!-- Design from: https://static.collectui.com/shots/3671744/musicloud-revolutionary-app-for-music-streaming-large -->